mixin head({title})
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="Rent cars for less ")

    title=title

    link(rel="icon" href="/favicon/favicon.svg" type="image/svg+xml")
    link(rel="icon" href="/favicon/favicon.png" type="image/png")
    link(rel="icon" href="/favicon/favicon.ico")

    link(rel="stylesheet" href="css/style.css?v=2")
