include ../components/card-advantages

mixin section-advantages({ className })
  section.section-advantages(class=className)
    h2.section-advantages__title More than just a car rental
    -
      let advantages = [
        {
          id: "1",
          type: "text",
          img: "/img/advantages-01@1x.jpg",
          title: "Wide range of affordable vehicles",
          text: "Get the perfect car for your needs",
          order: 'right'
        },
        {
          id: "2",
          type: "text",
          img: "/img/advantages-02@1x.jpg",
          title: "Better prices and exclusive offers",
          text: "Save big with RentEco’s special deals",
          order: 'right'
        },
        {
          id: "3",
          type: "text",
          img: "/img/advantages-03@1x.jpg",
          title: "Simple booking process",
          text: "Enjoy a convenient and user-friendly booking platform",
        },
        {
          id: "4",
          type: "button",
          img: "/img/advantages-04@1x.jpg"
        }
      ]
    .section-advantages__grid
      each it in advantages
        +card-advantages({ ...it })
