-
  let cars = [
    {
      name: "Toyota Prius 2010-2014",
      img: "/img/toyota-prius-01.jpg",
      priceDay: 42.85,
      priceWeek: 300,
      equipment: [
        {
          name: "gearbox",
          value: "auto"
        },
        {
          name: "seats",
          value: "4 Seats"
        },
        {
          name: "fuel",
          value: "Hybrid"
        }
      ]
    },
    {
      name: "Toyota Prius 2006-2009",
      img: "/img/toyota-prius-02.jpg",
      priceDay: 35.71,
      priceWeek: 250,
      equipment: [
        {
          name: "gearbox",
          value: "auto"
        },
        {
          name: "seats",
          value: "4 Seats"
        },
        {
          name: "fuel",
          value: "Hybrid"
        }
      ]
    },
    {
      name: "Toyota Prius Plug-in 2010-2014",
      img: "/img/toyota-prius-03.jpg",
      priceDay: 47.15,
      priceWeek: 330,
      equipment: [
        {
          name: "gearbox",
          value: "auto"
        },
        {
          name: "seats",
          value: "4 Seats"
        },
        {
          name: "fuel",
          value: "Hybrid"
        }
      ]
    },
    {
      name: "Kia Optima Hybrid 2014",
      img: "/img/kia-optima-01.jpg",
      priceDay: 50,
      priceWeek: 350,
      equipment: [
        {
          name: "gearbox",
          value: "auto"
        },
        {
          name: "seats",
          value: "4 Seats"
        },
        {
          name: "fuel",
          value: "Hybrid"
        }
      ]
    },
    {
      name: "Hyundai Sonata Hybrid 2013",
      img: "/img/hyundai-sonata-01.jpg",
      priceDay: 50,
      priceWeek: 350,
      equipment: [
        {
          name: "gearbox",
          value: "auto"
        },
        {
          name: "seats",
          value: "4 Seats"
        },
        {
          name: "fuel",
          value: "Hybrid"
        }
      ]
    },
    {
      name: "Toyota Sienna 2019",
      img: "/img/toyota-sienna-01.jpg",
      priceDay: 55,
      priceWeek: 385,
      equipment: [
        {
          name: "gearbox",
          value: "auto"
        },
        {
          name: "seats",
          value: "4 Seats"
        },
        {
          name: "fuel",
          value: "Hybrid"
        }
      ]
    },
  ]
