-
  let menuLinks = [
    {
      text: "Catalog",
      id: "catalog"
    },
    {
      text: "How It Works",
      id: "howItWorks"
    },
    {
      text: "Feedback",
      id: "feedback"
    },
    {
      text: "Contact Us",
      id: "contactUs"
    },
  ]