-
  let reviews = [
    {
      name: "Emily",
      text: "Excellent service! The car I initially rented had a minor issue, but the team quickly swapped it out for a new one. Great prices and very responsive staff!",
    },
    {
      name: "Aziz",
      text: "Kampaniya juda yaxshi! Avtomobilimda kichik muammo yuz berdi, lekin xodimlar tezda yangi avtomobil taqdim etdilar. Narxlar ham juda maqbul!",
    },
    {
      name: "Иван",
      text: "Сервис на высшем уровне! Автомобиль, который я арендовал, немного подвел, но ребята оперативно заменили его на новый. Цены отличные!",
    },
    {
      name: "John",
      text: "The best rental experience I've ever had! The staff was professional and the car was in perfect condition. Highly recommended.",
    },
    {
      name: "Dilshod",
      text: "Yaxshi xizmat! Avtomobil yaxshi holatda edi va narxlar juda maqbul. Tavsiya qilaman!",
    },
    {
      name: "Мария",
      text: "Очень доволен обслуживанием! Машина была в отличном состоянии, а сотрудники компании очень внимательные. Рекомендую!",
    },
    {
      name: "Sarah",
      text: "Great service and reliable cars. I had an issue with my vehicle, but they quickly resolved it with no hassle. Thumbs up!",
    },
    {
      name: "Javlon",
      text: "Juda yaxshi xizmat! Avtomobilim bilan muammo bo‘ldi, lekin ular tezda yangi avtomobil berdi. Narxlar ham juda yaxshi!",
    },
    {
      name: "Александр",
      text: "Отличная компания для аренды автомобилей! Быстро решают любые проблемы и предлагают хорошие условия аренды. Спасибо!",
    },
    {
      name: "Ольга",
      text: "Прекрасный сервис! Машина не подвела, а если бы что-то случилось, я уверен, что быстро бы исправили. Спасибо за надежность!",
    }
  ]
