-
  let socials = [
    {
      icon: "social-facebook",
      label: "group facebook",
      href: "#"
    },
    {
      icon: "social-instagram",
      label: "instagram chanel",
      href: "#"
    },
    {
      icon: "social-linkedin",
      label: "linkedin page",
      href: "#"
    }
  ]