-
  let socials = [
    {
      icon: "social-facebook",
      label: "group facebook",
      href: "https://www.facebook.com/RentEcoLLC"
    },
    {
      icon: "social-instagram",
      label: "instagram chanel",
      href: "https://www.instagram.com/renteco_usa"
    }
  ]
