$color-gray-839: #d6d6d6; // hsl(0, 0%, 83.9%)
$color-gray-576: #939393; // hsl(0, 0%, 57.6%)
$color-gray-341: #575757; // hsl(0, 0%, 34.1%)
$color-gray-188: #303030; // hsl(0, 0%, 18.8%)
$color-gray-102: #1a1a1a; // hsl(0, 0%, 10.2%)
$color-gray-067: #111111; // hsl(0, 0%, 06.7%)

$color-white: #ffffff;
$color-black: #000000;

$color-periwinkle-crayola: #f7f8fb;
$color-moderate-aquamarine: #5bc2be;
$color-green-jungle-crayola: #47aeaa;
$color-dark-purple-blue: #0e0f19;
$color-very-dark-bluish-green: #000103;
