// fonts
$font-default: "Inter", sans-serif;

// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// container
$container-max: 1440px;
$container-min: 360px;

// breakpoints
$breakpoint-sm: $container-min;
$breakpoint-md: 576px;
$breakpoint-lg: 768px;
$breakpoint-xl: 1024px;
$breakpoint-xxl: $container-max;

// padding
$padding: 16px;
$padding-sm: 16px;
$padding-md: 16px;
$padding-lg: 20px;
$padding-xl: 20px;
$padding-xxl: 80px;
